{% extends "layout.html" %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block links%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Amita&family=Comfortaa:wght@700&family=Cookie&family=Josefin+Sans&family=Marck+Script&family=Niramit&family=Quintessential&family=Secular+One&family=Shadows+Into+Light&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&family=Sofia+Sans+Condensed:ital@0;1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Shanti&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'blog/profile.css'%}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'blog/profile.js' %}"></script>
{% endblock %}

{% comment %} <!-- {% block content %}
<a href="{% url 'home'%}">Home</a><br>
<h2>{{object.username}}</h2>
{% if user_det.img %}
<img src={{user_det.p_img.url}} height=320px width=180px> 
{% endif %}
{{object.first_name}}
{{object.last_name}}
{{user_det.dob}}
{{object.email}}
{{user_det.phn}}
{% endblock content %} --> {% endcomment %}

{% block content%}
  <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">bloG<div class="mirror-text">G</div>er</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-arrow-down-square-fill" id="bi"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="ul">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home'%}" id="nv">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create-blog' %}" id="nv">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my-blogs' %}" id="nv">My Posts</a>
            </li>
          </ul>
          <div class="btn-group dropstart">
              <button id="prof" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user-graduate"></i>
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">{{user.username}}</li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'profile' str=user.username %}">Account</a></li>
                <li><form action="/blog/logout" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">logout</button>
              </form></li>
              </ul>
            </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid" id="cov-con">
      <div class="row">
          <div class="col-10 offset-1" id="covpic">
              <div class="img-w">
                <div class="col-12">
                {% if user_det.c_img %}
                <img src={{user_det.c_img.url}} alt="Cover Image">
                {% else %}
                <img src="{% static 'blog/profile.jpg'%}">
                {% endif %}
                </div>
                <div id="ppic">
                  {% if user_det.p_img %}
                  <img src={{user_det.p_img.url}}>
                 {% else %}
                 <img src="{% static 'blog/pic.jpg'%}">
                 {% endif %}
                </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1 my-5" id="drow">
         <div class="row">
          <div class="col-1 py-4">
          </div>
          <div class="col-9 py-3" id="det">
            <p id="username">{{object.first_name}} {{object.last_name}}
              {% if user_det.verified %}
              <i class="bi bi-patch-check-fill" id="ver"></i>
              {% endif %}
            </p>
            <div id="sdet">
              <p id="name">@{{object.username}}</p>
              <p id="dob" class="text-muted"><i class="bi bi-balloon-fill"></i> Born {{user_det.dob}}</p>
              <p id="since" class="text-muted"><i class="bi bi-calendar-event-fill"></i> Joined {{user_det.display_since}}</p>
              <p id="contact" class="text-muted">
                {% if object.email%}
                <i class="bi bi-envelope-fill"></i> {{object.email}}
                {% endif %}
                &nbsp;&nbsp;
                {% if user_det.phn%}
                <i class="bi bi-telephone-fill"></i> +91 {{user_det.phn}}
                {% endif %}
                &nbsp;&nbsp;
                {% if user_det.linked_link %}
                <span class="text-muted"><i class="bi bi-linkedin"></i><a href="{{user_det.linked_link}}" class="text-muted"> Linkedin</a></span>
                {% endif %}
                &nbsp;&nbsp;
                {% if user_det.insta_link %}
                <span class="text-muted"><i class="bi bi-instagram"></i><a href="{{user_det.insta_link}}" class="text-muted"> {{user_det.extract_username}}</a></span>
                {% endif %}
                &nbsp;&nbsp;
                {% if user_det.twitter_link %}
                <span class="text-muted"><i class="bi bi-twitter"></i><a href="{{user_det.twitter_link}}" class="text-muted"> {{user_det.extract_twitter_username}}</a></span>
                {% endif %}
                &nbsp;&nbsp;
              </p>
              {% if auth_user == object %}
              <div id="pedit">
                <a href="{% url 'settings' %}"><button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Edit Profile</button></a>
              </div>
              {% endif %}
            </div>
         </div>
         </div>
         </div>
        </div>
      </div>
  <div class="container-fluid" id="cards">
    <div class="row" id="trow">
        <div class="col-4 offset-4" id="tle">
            <a id="po" href="#" class="d-flex align-items-center"><strong><i class="bi bi-grid-fill"></i> Posts</strong></a>&nbsp;&nbsp;&nbsp;
            <a id="lik" href="#" class="d-flex align-items-center"><strong><i class="bi bi-star-fill"></i> Liked</strong></a>
        </div>
        <div class="col-12 px-5" id="posts">
          <div class="row">
            {% for blog in blogs%}
          <div class="col-12 col-md-6 col-sm-12 col-lg-4 py-4 px-4" id="cardw">
            <div class="col">
              <a href="{% url 'blog-view' slug=blog.slug%}" id="aw">
              <div class="card h-100" id="card">
                <div class="image-wrapper">
                {% if blog.cover%}
                <img src={{blog.cover.url}} class="card-img-top" alt="..." width="500px" height="300px" id="ing">
                {% else %}
                <img src="{% static 'blog/noimg.jpg'%}" class="card-img-top" alt="..." width="500px" height="300px" id="ing">
                {% endif%}
                <div class="vbtn">
                  <div class="row">
                    
                  </div>
                </div> 
                <div class="row">
                  <h5 class="card-title">{{ blog.title }}</h5>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p class="card-text" id="us"><small>Posted by </small>{{ blog.user.username }}
                      {% if blog.user.user_det.verified %}
                      <i class="bi bi-patch-check-fill"></i>
                      {% endif %}</p>
                </div>
                <div class="col-auto">
                    <p class="card-text" id="ik">
                      {% if user not in blog.likes.all %}
                      <i class="bi bi-heart" id="lk">
                      {%else%}
                      <i class="bi bi-heart-fill" id="lk1"></i>
                      {% endif %}
                      </i><span id="ct">{{ blog.likes.count }}</span></p>
                </div>
                </div>
                {% if user == blog.user %}
                <a id="edt" href="{% url 'edit' slug=blog.slug %}"><i class="bi bi-pencil-square"></i> edit</a>
                {% endif %}
              </div>
              <div class="card-footer">
                  <small class="text-muted">Posted on {{ blog.posted_date_display }}</small>
              </div>              
              </div>
              </a>
            </div>
          </div>
            {% endfor %}
         </div>
        </div>
        <!-- likes of user -->
        <div class="col-12 px-5" id="likes">
          <div class="row">
            {% for blog in liked %}
          <div class="col-12 col-md-6 col-sm-12 col-lg-4 py-4 px-4" id="cardw">
            <div class="col">
              <a href="{% url 'blog-view' slug=blog.slug%}" id="aw">
              <div class="card h-100" id="card">
                <div class="image-wrapper">
                {% if blog.cover%}
                <img src={{blog.cover.url}} class="card-img-top" alt="..." width="500px" height="300px" id="ing">
                {% else %}
                <img src="{% static 'blog/noimg.jpg'%}" class="card-img-top" alt="..." width="500px" height="300px" id="ing">
                {% endif%}
                <div class="vbtn">
                  <div class="row">
                    
                  </div>
                </div> 
                <div class="row">
                  <h5 class="card-title">{{ blog.title }}</h5>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p class="card-text" id="us"><small>Posted by </small>{{ blog.user.username }}
                      {% if blog.user.user_det.verified %}
                      <i class="bi bi-patch-check-fill"></i>
                      {% endif %}</p>
                </div>
                <div class="col-auto">
                    <p class="card-text" id="ik">
                      {% if user not in blog.likes.all %}
                      <i class="bi bi-heart" id="lk">
                      {%else%}
                      <i class="bi bi-heart-fill" id="lk1"></i>
                      {% endif %}
                      </i><span id="ct">{{ blog.likes.count }}</span></p>
                </div>
                </div>
              </div>
              <div class="card-footer">
                  <small class="text-muted">Posted on {{ blog.posted_date_display }}</small>
              </div>              
              </div>
              </a>
            </div>
          </div>
            {% endfor %}
        </div>
    </div>
  </div>
  </div>
    
{% endblock %}
